<div class="col-md-4">
  {{#each model as |restaurant|}}
  {{restaurant-admin-tile restaurant=restaurant editRestaurant3="editRestaurant4"}}
  {{/each}}

</div>

<div class="col-md-8">
  {{new-restaurant saveRestaurant2="saveRestaurant3"}}

</div>
