<div class="jumbotron">

  {{#link-to 'index'}}<h1>Misanthropic Meals</h1>{{/link-to}}
  <h4>For people who love food, but hate people.</h4>
</div>

<div class="container">
  {{outlet}}
</div>

<div class="footer">

</div>
